@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-raisin-black: #211d1f;
	--color-army-green: #3f4b1f;
	--color-philippine-brown: #661419;
	--font-montserrat: var(--font-montserrat);
	--font-rozha-one: var(--font-rozha-one);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat);
}

button:enabled {
	cursor: pointer;
}

/* Transition for button and anchor hover */
button,
a {
	transition:
		background-color 300ms,
		color 300ms,
		border-color 300ms;
}

/* Global focus styles for all focusable elements */
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
a:focus-visible {
	outline: none;
	box-shadow: 0 0 0 3px var(--color-teal-700);
	border-color: transparent;
	transition: all 300ms;
	filter: drop-shadow(0 0 0 3px var(--color-teal-700));
}

.section-px {
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 768px) {
	.section-px {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media (min-width: 1024px) {
	.section-px {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}
